.descriptionBlock{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.name {
    color: rgb(214, 86, 86);
    font-weight: bold;
}

.desc {
    font-size: 12px;
}

.avatar img{
    display: block;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.title {
    margin-right: 10px;
}
.contacts {
    display: flex;
    font-size: 12px;
}

.social:after {
    content: '|';
    margin: 0 5px;
}

.social:last-child:after{
    content: '';
    margin: 0;
}