.descriptionBlock{
    display: flex;
    margin-bottom: 30px;
}
.name {
    color: rgb(214, 86, 86);
    font-weight: bold;
}

.desc {
    font-size: 12px;
}

.avatar img{
    display: block;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.title {
    margin-right: 10px;
}
.contacts {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social:after {
    content: '|';
    margin: 0 5px;
}

.social:last-child:after{
    content: '';
    margin: 0;
}

.descriptionBlock form {

}

form textarea {
    margin-right: 5px;
    resize: none;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.formSummaryError{
    padding: 5px;
    color: red;
}

.status {
    margin: 10px 0;
}